html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#header {
  display: flex;
  justify-content: space-around;
  height: 16vh;
  width: 100%;
  align-items: center;
  background-color: black;
}
#header .bg-dark {
  background-color: black !important;
}
#header nav {
  display: none;
}
@media only screen and (max-width: 800px) {
  #header nav {
    display: flex;
  }
}
#header .img {
  width: 12vw;
  max-width: 175px;
  min-width: 140px;
}
#header #a {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}
#header #a .links {
  text-decoration: none;
  color: white;
  font-family: "DejaVu Sans Bold Oblique", sans-serif;
  font-size: 16px;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
@media only screen and (max-width: 1024px) {
  #header #a .links {
    font-size: 12px;
  }
}
#header #a .links:hover {
  color: rgb(77, 0, 128);
  font-size: 19px;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
@media only screen and (max-width: 1024px) {
  #header #a .links:hover {
    font-size: 15px;
  }
}
#header #a #active {
  text-decoration: none;
  color: white;
  font-family: "DejaVu Sans Bold Oblique", sans-serif;
  font-size: 16px;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
@media only screen and (max-width: 1024px) {
  #header #a #active {
    font-size: 12px;
  }
}
#header #a #active:hover {
  color: rgb(77, 0, 128);
  font-size: 19px;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
@media only screen and (max-width: 1024px) {
  #header #a #active:hover {
    font-size: 15px;
  }
}
#header #login {
  display: flex;
  width: 9vw;
  height: 4vw;
  justify-content: center;
  align-items: center;
  background-color: #9002FF;
  border-radius: 30px;
  min-height: 48px;
  min-width: 100px;
}
#header #login #LOG {
  text-decoration: none;
  font-size: 16px;
  color: rgb(17, 0, 250);
  font-family: "Reddit Mono", monospace;
}

#newstext {
  font-size: 35px;
  color: white;
  font-weight: bold;
  font-family: "DejaVu Sans Bold Oblique", sans-serif;
  text-decoration: none;
  margin: 10px 20px;
  display: inline-block;
}

#pics {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#pics #theboys {
  display: flex;
  height: 40vh;
  border-radius: 20px;
  background-image: url(../../images/download\ \(1\).jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  align-items: flex-end;
  justify-content: center;
}
#pics #theboys #theboystext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 255px;
  background-color: black;
  border-radius: 20px;
  opacity: 0.75;
  transition: 500ms ease-in-out;
}
#pics #theboys #theboystext:hover {
  width: 290px;
  opacity: 0.9;
}
#pics #theboys #theboystext a {
  font-size: 22px;
  color: white;
  font-family: normal;
  text-decoration: none;
}
#pics #godzillaxkong {
  display: flex;
  height: 40vh;
  border-radius: 20px;
  background-image: url(../../images/Godzilla_x_kong_the_new_empire_poster.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  align-items: flex-end;
  justify-content: center;
}
#pics #godzillaxkong #godzillaxkongtext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 255px;
  background-color: black;
  border-radius: 20px;
  opacity: 0.75;
  transition: 500ms ease-in-out;
}
#pics #godzillaxkong #godzillaxkongtext:hover {
  width: 290px;
  opacity: 0.9;
}
#pics #godzillaxkong #godzillaxkongtext a {
  font-size: 22px;
  color: white;
  font-family: normal;
  text-decoration: none;
}
#pics #fallguy {
  display: flex;
  height: 40vh;
  border-radius: 20px;
  background-image: url(../../images/MV5BMjA5ZjA3ZjMtMzg2ZC00ZDc4LTk3MTctYTE1ZTUzZDIzMjQyXkEyXkFqcGdeQXVyMTM1NjM2ODg1._V1_FMjpg_UX1000_.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  align-items: flex-end;
  justify-content: center;
}
#pics #fallguy #fallguytext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 255px;
  background-color: black;
  border-radius: 20px;
  opacity: 0.75;
  transition: 500ms ease-in-out;
}
#pics #fallguy #fallguytext:hover {
  width: 290px;
  opacity: 0.9;
}
#pics #fallguy #fallguytext a {
  font-size: 22px;
  color: white;
  font-family: normal;
  text-decoration: none;
}
#pics #boykillsworld {
  display: flex;
  height: 40vh;
  border-radius: 20px;
  background-image: url(../../images/MV5BNmYyM2VhM2UtYmEzNi00M2RmLTkzYWQtZGQ5MjI2MzQzMWMyXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  align-items: flex-end;
  justify-content: center;
}
#pics #boykillsworld #boykillsworldtext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 255px;
  background-color: black;
  border-radius: 20px;
  opacity: 0.75;
  transition: 500ms ease-in-out;
}
#pics #boykillsworld #boykillsworldtext:hover {
  width: 290px;
  opacity: 0.9;
}
#pics #boykillsworld #boykillsworldtext a {
  font-size: 22px;
  color: white;
  font-family: normal;
  text-decoration: none;
}
#pics #tarot {
  display: flex;
  height: 40vh;
  border-radius: 20px;
  background-image: url(../../images/MV5BOWVmODRmYWEtOTdiMS00N2FjLWE4NTQtNTYyMzAwYjJhNDA2XkEyXkFqcGdeQXVyMTY3ODkyNDkz._V1_.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  align-items: flex-end;
  justify-content: center;
}
#pics #tarot #tarottext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 255px;
  background-color: black;
  border-radius: 20px;
  opacity: 0.75;
  transition: 500ms ease-in-out;
}
#pics #tarot #tarottext:hover {
  width: 290px;
  opacity: 0.9;
}
#pics #tarot #tarottext a {
  font-size: 22px;
  color: white;
  font-family: normal;
  text-decoration: none;
}
#pics #civilwar {
  display: flex;
  height: 40vh;
  border-radius: 20px;
  background-image: url(../../images/MV5BYTYyODhlODktYjUzNC00NjUyLWI1MzYtNmI0MTY3YTUxYjY2XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_FMjpg_UX1000_.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  align-items: flex-end;
  justify-content: center;
}
#pics #civilwar #civilwartext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 255px;
  background-color: black;
  border-radius: 20px;
  opacity: 0.75;
  transition: 500ms ease-in-out;
}
#pics #civilwar #civilwartext:hover {
  width: 290px;
  opacity: 0.9;
}
#pics #civilwar #civilwartext a {
  font-size: 22px;
  color: white;
  font-family: normal;
  text-decoration: none;
}

#big {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#big #thebeast {
  display: flex;
  height: 40vh;
  border-radius: 20px;
  background-image: url(../../images/thebeast.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  align-items: flex-end;
  justify-content: center;
}
#big #thebeast #thebeasttext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 255px;
  background-color: black;
  border-radius: 20px;
  opacity: 0.75;
  transition: 500ms ease-in-out;
}
#big #thebeast #thebeasttext:hover {
  width: 290px;
  opacity: 0.9;
}
#big #thebeast #thebeasttext a {
  font-size: 22px;
  color: white;
  font-family: normal;
  text-decoration: none;
}
#big #insideout {
  display: flex;
  height: 40vh;
  border-radius: 20px;
  background-image: url(../../images/insideout.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  align-items: flex-end;
  justify-content: center;
}
#big #insideout #insideouttext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 255px;
  background-color: black;
  border-radius: 20px;
  opacity: 0.75;
  transition: 500ms ease-in-out;
}
#big #insideout #insideouttext:hover {
  width: 290px;
  opacity: 0.9;
}
#big #insideout #insideouttext a {
  font-size: 22px;
  color: white;
  font-family: normal;
  text-decoration: none;
}
#big #houseofthedragon {
  display: flex;
  height: 40vh;
  border-radius: 20px;
  background-image: url(../../images/houseofthedragon.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  align-items: flex-end;
  justify-content: center;
}
#big #houseofthedragon #houseofthedragontext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 255px;
  background-color: black;
  border-radius: 20px;
  opacity: 0.75;
  transition: 500ms ease-in-out;
}
#big #houseofthedragon #houseofthedragontext:hover {
  width: 290px;
  opacity: 0.9;
}
#big #houseofthedragon #houseofthedragontext a {
  font-size: 22px;
  color: white;
  font-family: normal;
  text-decoration: none;
}
#big #ultraman {
  display: flex;
  height: 40vh;
  border-radius: 20px;
  background-image: url(../../images/ultraman.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  align-items: flex-end;
  justify-content: center;
}
#big #ultraman #ultramantext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 255px;
  background-color: black;
  border-radius: 20px;
  opacity: 0.75;
  transition: 500ms ease-in-out;
}
#big #ultraman #ultramantext:hover {
  width: 290px;
  opacity: 0.9;
}
#big #ultraman #ultramantext a {
  font-size: 22px;
  color: white;
  font-family: normal;
  text-decoration: none;
}
#big #cabrini {
  display: flex;
  height: 40vh;
  border-radius: 20px;
  background-image: url(../../images/cabrini.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  align-items: flex-end;
  justify-content: center;
}
#big #cabrini #cabrinitext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 255px;
  background-color: black;
  border-radius: 20px;
  opacity: 0.75;
  transition: 500ms ease-in-out;
}
#big #cabrini #cabrinitext:hover {
  width: 290px;
  opacity: 0.9;
}
#big #cabrini #cabrinitext a {
  font-size: 22px;
  color: white;
  font-family: normal;
  text-decoration: none;
}
#big #julia {
  display: flex;
  height: 40vh;
  border-radius: 20px;
  background-image: url(../../images/julia.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 20px;
  align-items: flex-end;
  justify-content: center;
}
#big #julia #juliatext {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 255px;
  background-color: black;
  border-radius: 20px;
  opacity: 0.75;
  transition: 500ms ease-in-out;
}
#big #julia #juliatext:hover {
  width: 290px;
  opacity: 0.9;
}
#big #julia #juliatext a {
  font-size: 22px;
  color: white;
  font-family: normal;
  text-decoration: none;
}

#footer {
  width: 100%;
  height: 30vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4vw;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
#footer #aboutusbutton {
  display: flex;
  flex-direction: column;
  width: 190px;
  justify-content: center;
  align-items: center;
  height: 7vh;
  background-color: gray;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
}
#footer #aboutusbutton:hover {
  background-color: rgb(0, 58, 250);
  width: 205px;
}
#footer #aboutusbutton a {
  font-size: 19px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
#footer #triple {
  display: flex;
  flex-direction: column;
  height: 25vh;
  justify-content: space-around;
}
#footer #triple .head {
  font-size: 19px;
  text-decoration: none;
  color: white;
  font-weight: 600;
}
#footer #aboutusdiv {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 210px;
}
#footer #aboutusdiv #aboutusbutton {
  display: flex;
  flex-direction: column;
  width: 190px;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: gray;
  border-radius: 30px;
  transition: 0.5s ease-in-out;
}
#footer #aboutusdiv #aboutusbutton:hover {
  background-color: rgb(0, 58, 250);
  width: 205px;
}
#footer #aboutusdiv #aboutusbutton a {
  font-size: 19px;
  text-decoration: none;
  color: black;
  font-weight: 700;
}
#footer #aboutusdiv #aboutustext p {
  font-size: 16px;
  color: white;
}
#footer #aboutusdiv #aboutustext p span {
  color: #02afff;
}

#contactbutton {
  height: 17vh;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
#contactbutton a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 700;
}
#contactbutton #contactpictures {
  display: flex;
  justify-content: space-between;
  width: 250px;
}
#contactbutton #contactpictures a {
  font-size: 50px;
}
#contactbutton #contactpictures a img {
  width: 56px;
}