@import "reset";
body {
  overflow-x: hidden;
}
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
      height: 128px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  overflow-x: hidden;
  .bg-dark {
      background-color: black !important;
  }

  nav {
      display: none;
    width: 100vw;
      @media only screen and (max-width: 800px) {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
      }
  }
  
  .img {
      width: 12vw;
      height: 128px;
      max-width: 175px;
      min-width: 140px;
    }

  #a {  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 60vw;
    
    .links {
    text-decoration: none;
    color: white;
    font-family: "DejaVu Sans Bold Oblique", sans-serif;
    font-size: 16px;
    -webkit-transition-duration: 500ms;
         -o-transition-duration: 500ms;
            transition-duration: 500ms;
    -webkit-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
    @media only screen and (max-width: 1024px) {
      font-size: 12px;
    }
    @media only screen and (max-width: 800px) {
      display: none;
    }
    }

    .links:hover {
      color: rgb(77, 0, 128);
      font-size: 19px;
      -webkit-transition-duration: 500ms;
           -o-transition-duration: 500ms;
              transition-duration: 500ms;
      -webkit-transition-timing-function: linear;
           -o-transition-timing-function: linear;
              transition-timing-function: linear;
      
      @media only screen and (max-width: 1024px) {
        font-size: 15px;
      }
    }


  }

  #login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 9vw;
    height: 4vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #9002FF;
    border-radius: 30px;
    min-height: 48px;
    min-width: 100px;
    #LOG {
      text-decoration: none;
      font-size: 16px;
      color: rgb(17, 0, 250);
      font-family: "Reddit Mono", monospace;
      }
  }  
}

  #services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    overflow-x: hidden;
    
    #inception {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 40vh;
      border-radius: 20px;
      background-image: url(../../images/inception.jpg);
      background-color: #cccccc;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      margin: 0 20px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    
      #inceptiontext {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 10vh;
        width: 255px;
        background-color: black;
        border-radius: 20px;
        opacity: 0.75;
        -webkit-transition: 500ms ease-in-out;
        -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;

        &:hover {
          width: 290px;
          opacity: 0.9;
        }

        a {
          font-size: 22px;
          color: white;
          font-family: normal;
          text-decoration: none;
        }
      
    }
  }
  #memento {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 40vh;
      border-radius: 20px;
      background-image: url(../../images/memento.jpg);
      background-color: #cccccc;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      margin: 0 20px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    #mementotext {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 10vh;
        width: 255px;
        background-color: black;
        border-radius: 20px;
        opacity: 0.75;
        -webkit-transition: 500ms ease-in-out;
        -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;

        &:hover {
          width: 290px;
          opacity: 0.9;
        }

        a {
          font-size: 22px;
          color: white;
          font-family: normal;
          text-decoration: none;
        }
    }
  }
  #shutterisland {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      height: 40vh;
      border-radius: 20px;
      background-image: url(../../images/sutterisland.jpg);
      background-color: #cccccc;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      margin: 0 20px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    #shutterislandtext {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 10vh;
        width: 255px;
        background-color: black;
        border-radius: 20px;
        opacity: 0.75;
        -webkit-transition: 500ms ease-in-out;
        -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;

        &:hover {
          width: 290px;
          opacity: 0.9;
        }

        a {
          font-size: 22px;
          color: white;
          font-family: normal;
          text-decoration: none;
        }
    }
  }
  
  #angrymen {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 40vh;
      border-radius: 20px;
      background-image: url(../../images/angrymen.jpg);
      background-color: #cccccc;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      margin: 0 20px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    #angrymentext {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 10vh;
        width: 255px;
        background-color: black;
        border-radius: 20px;
        opacity: 0.75;
        -webkit-transition: 500ms ease-in-out;
        -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;

        &:hover {
          width: 290px;
          opacity: 0.9;
        }

        a {
          font-size: 22px;
          color: white;
          font-family: normal;
          text-decoration: none;
        }
    }
  }
  #shawshankredemption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      height: 40vh;
      border-radius: 20px;
      background-image: url(../../images/shawshankredemption.jpg);
      background-color: #cccccc;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      margin: 0 20px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    #shawshankredemptiontext {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 10vh;
        width: 255px;
        background-color: black;
        border-radius: 20px;
        opacity: 0.75;
        -webkit-transition: 500ms ease-in-out;
        -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;

        &:hover {
          width: 290px;
          opacity: 0.9;
        }

        a {
          font-size: 22px;
          color: white;
          font-family: normal;
          text-decoration: none;
        }
    }
  }
  #seven {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      height: 40vh;
      border-radius: 20px;
      background-image: url(../../images/seven.jpg);
      background-color: #cccccc;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      margin: 0 20px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    #seventext {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 10vh;
        width: 255px;
        background-color: black;
        border-radius: 20px;
        opacity: 0.75;
        -webkit-transition: 500ms ease-in-out;
        -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;

        &:hover {
          width: 290px;
          opacity: 0.9;
        }

        a {
          font-size: 22px;
          color: white;
          font-family: normal;
          text-decoration: none;
        }
    }
  }
  }
  

     
     #service { 
      display: -webkit-box; 
      display: -ms-flexbox; 
      display: flex;
      width: 100%;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      height: 42vh;
      overflow-x: hidden;

       #interstellar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 40vh;
      border-radius: 20px;
      background-image: url(../../images/interstellar.jpg);
      background-color: #cccccc;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      margin: 0 20px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      
      #interstellartext {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 10vh;
        width: 255px;
        background-color: black;
        border-radius: 20px;
        opacity: 0.75;
        -webkit-transition: 500ms ease-in-out;
        -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;

        &:hover {
          width: 290px;
          opacity: 0.9;
        }

        a {
          font-size: 22px;
          color: white;
          font-family: normal;
          text-decoration: none;
        }
    }
  }

  #whiplash {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      height: 40vh;
      border-radius: 20px;
      background-image: url(../../images/whiplash.jpg);
      background-color: #cccccc;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      margin: 0 20px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    #whiplashtext {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 10vh;
        width: 255px;
        background-color: black;
        border-radius: 20px;
        opacity: 0.75;
        -webkit-transition: 500ms ease-in-out;
        -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;

        &:hover {
          width: 290px;
          opacity: 0.9;
        }

        a {
          font-size: 22px;
          color: white;
          font-family: normal;
          text-decoration: none;
        }
    }
  }

  #fightclub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      height: 40vh;
      border-radius: 20px;
      background-image: url(../../images/download\ \(2\).jpg);
      background-color: #cccccc;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      margin: 0 20px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    #fightclubtext {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 10vh;
        width: 255px;
        background-color: black;
        border-radius: 20px;
        opacity: 0.75;
        -webkit-transition: 500ms ease-in-out;
        -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;

        &:hover {
          width: 290px;
          opacity: 0.9;
        }

        a {
          font-size: 22px;
          color: white;
          font-family: normal;
          text-decoration: none;
        }
    }
  }

  #greenmile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      height: 40vh;
      border-radius: 20px;
      background-image: url(../../images/greenmile.jpg);
      background-color: #cccccc;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      margin: 0 20px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    #greenmiletext {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 10vh;
        width: 255px;
        background-color: black;
        border-radius: 20px;
        opacity: 0.75;
        -webkit-transition: 500ms ease-in-out;
        -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;

        &:hover {
          width: 290px;
          opacity: 0.9;
        }

        a {
          font-size: 22px;
          color: white;
          font-family: normal;
          text-decoration: none;
        }
    }
  }

  #dune {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      height: 40vh;
      border-radius: 20px;
      background-image: url(../../images/dune.jpg);
      background-color: #cccccc;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      margin: 0 20px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    #dunetext {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 10vh;
        width: 255px;
        background-color: black;
        border-radius: 20px;
        opacity: 0.75;
        -webkit-transition: 500ms ease-in-out;
        -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;

        &:hover {
          width: 290px;
          opacity: 0.9;
        }

        a {
          font-size: 22px;
          color: white;
          font-family: normal;
          text-decoration: none;
        }
    }
  }

  #prestige {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      height: 40vh;
      border-radius: 20px;
      background-image: url(../../images/prestige.jpg);
      background-color: #cccccc;
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover;
      margin: 0 20px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    #prestigetext {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 10vh;
        width: 255px;
        background-color: black;
        border-radius: 20px;
        opacity: 0.75;
        -webkit-transition: 500ms ease-in-out;
        -o-transition: 500ms ease-in-out;
        transition: 500ms ease-in-out;

        &:hover {
          width: 290px;
          opacity: 0.9;
        }

        a {
          font-size: 22px;
          color: white;
          font-family: normal;
          text-decoration: none;
        }
    }
  }
  }  

  #footer {
    width: 100%;
    height: 30vh;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4vw;          
    border-top: 2px solid white;
    border-bottom: 2px solid white;


    #aboutusbutton {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 190px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 7vh;
      background-color: gray;
      border-radius: 30px;
      -webkit-transition:  0.5s ease-in-out;
      -o-transition:  0.5s ease-in-out;
      transition:  0.5s ease-in-out;

      &:hover {
        background-color: rgb(0, 58, 250);
        width: 205px;
        
      }

      a {
        font-size: 19px;
        text-decoration: none;
        color: black;
        font-weight: 600;
      }
    }

    #triple {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 25vh;
      -ms-flex-pack: distribute;
          justify-content: space-around;

      .head {
        font-size: 19px;
        text-decoration: none;
        color: white;
        font-weight: 600;
      }
    }

    #aboutusdiv {
      height: 25vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      width: 210px;
      
     #aboutusbutton {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 190px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 5vh;
      background-color: gray;
      border-radius: 30px;
      -webkit-transition:  0.5s ease-in-out;
      -o-transition:  0.5s ease-in-out;
      transition:  0.5s ease-in-out;

      &:hover {
        background-color: rgb(0, 58, 250);
        width: 205px;
        
      }

      a {
        font-size: 19px;
        text-decoration: none;
        color: black;
        font-weight: 700;
      }
    }

    #aboutustext {
      p {
        font-size: 16px;
        color: white;
        span {
          color: #02afff;
        }
      }
    }
  }
    
  }
  
  #contactbutton {
      height: 17vh;
      background-color: black;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;

      a {
        text-decoration: none;
        color: white;
        font-size: 30px;
        font-weight: 700;
      }

      #contactpictures {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 250px;

        a {
          font-size: 50px;

          img {
            width: 56px;
          }
          } 
        }
      }