html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
}

#header {
  display: flex;
  justify-content: space-around;
  height: 16vh;
  width: 100%;
  align-items: center;
  background-color: black;
}
#header .bg-dark {
  background-color: black !important;
}
#header nav {
  display: none;
}
@media only screen and (max-width: 800px) {
  #header nav {
    display: flex;
  }
}
#header .img {
  width: 12vw;
  max-width: 175px;
  min-width: 140px;
}
#header #a {
  display: flex;
  justify-content: space-around;
  width: 60vw;
}
#header #a .links {
  text-decoration: none;
  color: white;
  font-family: "DejaVu Sans Bold Oblique", sans-serif;
  font-size: 16px;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
@media only screen and (max-width: 1024px) {
  #header #a .links {
    font-size: 12px;
  }
}
#header #a .links:hover {
  color: rgb(77, 0, 128);
  font-size: 19px;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
@media only screen and (max-width: 1024px) {
  #header #a .links:hover {
    font-size: 15px;
  }
}
#header #a #active {
  text-decoration: none;
  color: white;
  font-family: "DejaVu Sans Bold Oblique", sans-serif;
  font-size: 16px;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
@media only screen and (max-width: 1024px) {
  #header #a #active {
    font-size: 12px;
  }
}
#header #a #active:hover {
  color: rgb(77, 0, 128);
  font-size: 19px;
  transition-duration: 500ms;
  transition-timing-function: linear;
}
@media only screen and (max-width: 1024px) {
  #header #a #active:hover {
    font-size: 15px;
  }
}
#header #login {
  display: flex;
  width: 9vw;
  height: 4vw;
  justify-content: center;
  align-items: center;
  background-color: #9002FF;
  border-radius: 30px;
  min-height: 48px;
  min-width: 100px;
}
#header #login #LOG {
  text-decoration: none;
  font-size: 16px;
  color: rgb(17, 0, 250);
  font-family: "Reddit Mono", monospace;
}

#inceptionpic {
  margin: 10px auto;
  width: 70vw;
  border-radius: 100px;
  min-width: 400px;
}
#inceptionpic img {
  width: 70vw;
  min-width: 400px;
}

#inceptiondescription {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin: 10px auto;
  background-color: rgb(17, 17, 17);
  padding: 15px;
  border-radius: 20px;
  min-width: 400px;
}
#inceptiondescription h1 {
  color: white;
  font-family: "BPG Banner", sans-serif;
  font-size: 33px;
}
@media only screen and (max-width: 800px) {
  #inceptiondescription h1 {
    font-size: 25px;
  }
}
#inceptiondescription h3 {
  color: white;
  font-family: "BPG Banner", sans-serif;
  font-size: 25px;
}
@media only screen and (max-width: 800px) {
  #inceptiondescription h3 {
    font-size: 20px;
  }
}
#inceptiondescription #together {
  display: flex;
}
#inceptiondescription #together img {
  width: 200px;
  height: 315px;
  margin-right: 20px;
}
@media only screen and (max-width: 800px) {
  #inceptiondescription #together img {
    width: 150px;
    height: 225px;
  }
}
#inceptiondescription #together span {
  color: white;
  font-family: "BPG Banner", sans-serif;
  font-size: 18px;
}
@media only screen and (max-width: 800px) {
  #inceptiondescription #together span {
    font-size: 13px;
  }
}
#inceptiondescription h2 {
  color: rgb(233, 240, 134);
  font-family: "BPG Banner", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
@media only screen and (max-width: 800px) {
  #inceptiondescription h2 {
    font-size: 15px;
  }
}
#inceptiondescription h2 span {
  color: gray;
  font-family: "BPG Banner", sans-serif;
  font-size: 19px;
  font-weight: 400;
}
@media only screen and (max-width: 800px) {
  #inceptiondescription h2 span {
    font-size: 14px;
  }
}
#inceptiondescription .white {
  color: white;
  font-family: "BPG Banner", sans-serif;
  font-weight: 600;
  font-size: 20px;
}
@media only screen and (max-width: 800px) {
  #inceptiondescription .white {
    font-size: 15px;
  }
}
#inceptiondescription .white span {
  color: gray;
  font-family: "BPG Banner", sans-serif;
  font-size: 19px;
  font-weight: 400;
}
@media only screen and (max-width: 800px) {
  #inceptiondescription .white span {
    font-size: 14px;
  }
}