@import "reset";
@import "variables";
@import "placeholders";
@import "mixins";

#header {
  display: flex;
  justify-content: space-around;
  height: 15vh;
  width: 100%;
  align-items: center;
  background-color: black;
  
  #img {
      width: 12vw;
      max-width: 175px;
      min-width: 140px;
    }

  #a {  
    display: flex;
    justify-content: space-around;
    width: 60vw;
    
    .links {
    text-decoration: none;
    color: white;
    font-family: "DejaVu Sans Bold Oblique", sans-serif;
    font-size: 16px;
    }

    .links:hover {
      color: rgb(77, 0, 128);
      font-size: 19px;
    }

    #active {
      text-decoration: none;
      color: white;
      font-family: "DejaVu Sans Bold Oblique", sans-serif;
      font-size: 16px;
    }

    #active:hover {
      color: rgb(77, 0, 128);
      font-size: 19px;
    }

  }

  #login {
    display: flex;
    width: 9vw;
    height: 4vw;
    justify-content: center;
    align-items: center;
    background-color: #9002FF;
    border-radius: 30px;
    min-height: 48px;
    min-width: 100px;
    #LOG {
      text-decoration: none;
      font-size: 16px;
      color: rgb(17, 0, 250);
      font-family: "Reddit Mono", monospace;
      }
  }
  
}
  